:root {
    --primary-color: #127FFF;
    --secondary-color: #FFFFFF;
    --last-option: #8B96A5;
    --border-default: #EFF2F4;
}
a {
    text-decoration: none;
    color: inherit;
}
                                                        /* HEADER */
                                                        /* NAVBAR */
header {
    background-color: var(--secondary-color);
}
header p {
    margin: 0px;
}
.navbar>.container {
    justify-content: space-between !important;
}

.navbar .icons {
    display: none;
}

#navbarSupportedContent {
    flex-grow: 0;
    justify-content: space-between !important;
    width: 900px;
}

#navbarSupportedContent form {
    border: 2px solid var(--primary-color);
    border-radius: 8px;
}

#navbarSupportedContent form input {
    max-width: 400px;
    border-radius: 10px !important;
}

#navbarSupportedContent form .btn:nth-of-type(1) {
    width: 300px;
    border-left: 1px solid var(--primary-color);
    border-radius: 0;
}

#navbarSupportedContent form .btn:nth-of-type(2) {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 0;
}
#main-nav .navbar-nav .nav-link  {
    text-align: center;
    color: #8B96A5;
}
#main-nav .navbar-nav .nav-link:hover {
    color: black;
}

ul {
    list-style-type: none !important;
}
select {
    border-radius: 6px;
}
option {
    background-color: #fff;
}
option:checked {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}


#seconary-nav {
    border: 1px solid var(--border-default);
}

#seconary-nav #mobile-nav {
    display: none !important;
}
.active {
    font-weight: 400;
}

@media screen and (max-width: 992px) {
    .navbar .icons {
        display: block;
    }

    #seconary-nav #mobile-nav {
        display: block !important;
        width: 100%;
        color: var(--primary-color) !important;
    }
     #seconary-nav #mobile-nav button {
        color: var(--primary-color) !important;
        background-color: var(--border-default);
        margin: 7px 0;
    }
}

body {
    background-color: #f7fafc;
}
main {
    display: flex;
    background-color: #f7fafc;
}
details {
    color: var(--primary-color);
}
.top {
    background-color: #f7fafc;
    

}
.Breadcrumb {
    color: var(--last-option);
    padding: 20px 30px;
}
.Breadcrumb span {
    font-size: 16px;
    padding: 0 10px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.2px;
}

.sidebar {
    width: 240px;
}
.sidebar .category {
    height: max-content;
    padding-bottom: 20px;
    padding: 0 20px 20px;
}

.sidebar .range-forms {
    display: flex;
    justify-content: space-around;

}
.sidebar form {
    display: block;
}
.sidebar .range-forms input {
    width: 90px;
    border: 2px solid var(--border-default);
    border-radius: 6px;
}
.sidebar .category > input {
    padding: 5px;
    width: 100%;
    color: var(--primary-color);
    background-color: var(--secondary-color);
    border: 2px solid var(--border-default);
    border-radius: 6px;
    margin: 10px 0;
}
.sidebar .category i {
    color: #FF9017;
}

.content {
    display: flex;
    flex-direction: column;
    width: 100%;

}
.content-top {
    height: max-content;
    background-color: var(--secondary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-radius: 6px;
    border: 2px solid var(--border-default);
}
.content-top .forms {   
    display: flex;
    align-items: center;
    gap: 20px;
}
.content-top form:nth-of-type(2) select, .btngroup {
    border: 2px solid var(--border-default);
    border-radius: 6px;
}
.content-top #pageBtn {
    background-color: var(--border-default);
}
.Content-A .product-card {
    height: 230px;
    background-color: var(--secondary-color);
    margin: 20px 0;
    display: flex;
    align-items: center;
    border: 2px solid var(--border-default);
    border-radius: 6px;
}
.Content-A .product-card img {
    height: 184px;
    padding: 0 20px;
}
.Content-A .product-details {
    position: relative;
}
.product-details .favourite {
    position: absolute;
    cursor: pointer;
    right: 0;
    top: 0;
    color: var(--primary-color);
    border: 2px solid var(--border-default);
    border-radius: 6px;
    padding: 5px 10px;
    margin: 5px 10px;
}
.product-details p span:first-of-type{
    color: #FF9017;
}
.product-details s, .Content-A .product-details p span:nth-of-type(2) {
    color: var(--last-option);
}
.Content-A .product-details p span:nth-of-type(3) {
    color: #00B517;
}
.Content-G {
    display: none;
}
.Content-G .filter-applied {
    height: 32px;
}
.Content-G .grid-system {
    display: grid;
    grid-template: 405px 405px 405px /1fr 1fr 1fr;
    gap: 20px;
    justify-content: center;
}
.Content-G .grid-system .product-card {
    cursor: pointer;
    background-color: var(--secondary-color);
    border: 2px solid var(--border-default);
    border-radius: 6px;
    display: flex;
    flex-direction: column;
}
.Content-G .grid-system .product-card .product-img {
    height: 200px;
    padding: 20px 0;
    display: flex;
    justify-content: center;
}
.Content-G .grid-system .product-img  img {
    padding: 0 60px;
    width: 100%;
}
.Content-G .grid-system .product-details {
    margin-top: auto;
    padding: 20px;
    padding-right: 80px;
    position: relative;
}



                                                        /* PRODUCT */
/* .main-content {
    background-color: var(--secondary-color);
    height: max-content ;
    margin: 0 auto;
}
.main-content .image-area {
    width: 100%;
    height: max-content;
    border: 2px solid var(--border-default);
    border-radius: 6px;
    margin: 20px 0;
}

.main-content .image-area img {
    padding: 50px;
    width: 100%;
}
.main-content .gallery-images {
    display: flex;
    justify-content: space-around;
}
.gallery-images img {
    height: 50px;
    width: 50px;
    border: 1px solid var(--border-default);
    border-radius: 6px;
}
.supplier-card {
    height: 325px;
    border: 2px solid var(--border-default);
    border-radius: 6px;
}
.supplier {
    display: flex;
    align-items: center;
    margin: 20px;
}
.supplier img {
    width: 72px;
    height: 72px;
} */